<center><h1>Hello Everyone!!!</h1></center>

<p> Welcome! My name is <strong><%= @Home.name %></strong></p>

<p>Today's date is <%= Date.today %>. </p>

<p>Today is <%= Date::DAYNAMES[Date.today.wday] %>.</p>

<p>The month is <%= Date::MONTHNAMES[Date.today.month] %>.</p>

<p><%= @message %></p>

